<div class="card mb-2">
  <%= image_tag "https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}", class: "w-100"%>
  <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %></h5>
    <h6 class="card-subtitle">Overview:</h6>
    <p class="card-text">
      <%= bookmark.movie.overview %>
    </p>
  </div>

  <div class="card-footer">
    <p class="card-text">
      <%= bookmark.comment %>
    </p>
    <span>
      <%= bookmark.movie.rating %><i class="fa-solid fa-star"></i>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "are you sure?"}, class: "text-dark" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </span>
  </div>
</div>
