<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key if @list.photo.attached?%>');">
  <h1 class="text-center"><%= @list.name %></h1>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#newBookmark">
      Add a new bookmark
    </button>
  </div>
</div>
<div class="row mb-3 d-flex justify-content-center">
  <% @bookmarks.each do |bookmark|%>
    <div class="col-4">
      <%= render "bookmark", bookmark: bookmark %>
    </div>
  <% end %>
</div>
<div class="modal fade" id="newBookmark" tabindex="-1" aria-labelledby="newBookmarkLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Bookmark</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list,@bookmark] do |f| %>
          <%= f.association :movie, include_blank: false %>
          <%= f.input :comment %>
          <%= f.button :submit, "Create", class: "btn btn-success w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row pb-3">
  <div class="col-8">
    <h3>reviews</h3>
    <ul class="list-group">
      <% @reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between my-1">
            <div><%= review.content %></div>
            <div>
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="col">
    <h3>add your review</h3>
    <%= simple_form_for [@list, @review] do |f|%>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit, "Create", class: "btn btn-success w-100" %>
    <% end %>
  </div>
</div>
